useDynLib(hobbs, .registration = TRUE)
export(hobbs)
export(read_hobbs)
export(hobbs_build_sampler)
export(hobbs_example_model)
export(hobbs_check_toolchain)
export(hobbs_install_sampler)
export(hobbs_check_sampler)
export(read_hobbs_mean)
importFrom(stats, setNames)
S3method(print,hobbs_run)
